
.input
{
    height: 500px;
    width: 300px;
    border-radius: 40px;
    padding-left: 30px;
}
.button
{
    border-radius: 30px;
    background-color: darkcyan;
    height: 50px;
    width: 140px;
    color:white;
    font-size: 20;
    padding-left: 30px;
}

