
.input
{
    height: 55vh;
    width: 20vw;
    border-radius: 40px;
    padding-left: 70px;
}
.button2
{
    border-radius: 30px;
    background-color: darkcyan;
    height: 50px;
    width: 140px;
    color:white;
    font-size: 20;
    
}

