
.ab
{
    display: flex;
    padding: 30px;
    height: 300px;
    background-color: rgb(38, 212, 189); 
}
.ab span
{
    padding-left: 40px;
}
.content
{
    height: 20vh;
    
}
/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 300vh;
  } */

