.all{
    
    margin-left: 100px;
    margin-top: -25px;
    
}
.im{
    border-style: solid;
    border-width: 3px;
    border-color: aliceblue;
    border-right: 0px;
    margin-left: 250px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 50px; 
    
}
.log{
    color: aliceblue;
    border-style: solid;
    border-width: 3px;
    border-left: 50px;
    margin-bottom: 50px;
    border-color: aliceblue;
    width: 310px;
    min-width:min-content;
    max-width: max-content;
    padding-left: 50px;
    margin-right: 200px;
    padding-right: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: auto;
    background-image: url('../Images/bac.jpg');
    background-size: 1280px;
    box-shadow: 10px 10px 6 px;
    background-repeat: no-repeat;
    background-size: cover;
}
.ty{
    color: aliceblue;
}
.ti{
   background-color: rgba(255, 255, 255, 0.437);  
}
.tl{
    background-color: rgba(240, 248, 255, 0.436);
}
.img{
    margin-left: 50px;
    border-radius: 50%;
}
.ch{
    color: aliceblue;
}
.co{
    color: aliceblue;

}
Link{
    color: aliceblue;
}
.al{
    margin-left: 10px;
    text-decoration: underline;
    color: rgb(74, 100, 252);
}
.ar{
   text-decoration: underline;
   color: rgb(64, 103, 244); 
   margin-left: 70px;
}