.sig{
    border-style: solid;
    border-width: 3px;
    border-color: aliceblue;
    margin-top: -50px;
    margin-left: 550px;
    margin-right: 550px;
    border-radius: 10px; 
    height: auto;
    width:auto;
    background-image: url('../Images/bac.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 10px 10px 6px rgba(155, 151, 151, 0.674);
    color: aliceblue;
}
.vi{
    background-color: rgba(255, 255, 255, 0.437);  
}
h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.in{
    height: 40px;
    width : 140px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgba(243, 243, 246, 0.545);
    color: black;
    border: none;
}
.ina{
    height: 40px;
    width: 298px;
    margin-left: -8px;
    border-radius: 5px;
    background-color: rgba(243, 243, 246, 0.545);
    color: black;
    border: none;


}
.cb{
    margin-left: 20px;
    margin-bottom: -20px;
    margin-right: 10px;
    height: 15px;
    width: 15px;
}
.la{
   font-size: 13px;
   text-align:left;
   
}
.hr{
    margin-left: 150px;
    margin-top: 0px;
    text-decoration: underline;
    color: rgb(21, 98, 253);
    font-size: 13px;
}
.lo{
    margin-right: 20px;
    margin-left: 20px;
}
::placeholder{
    color: black;
     margin-right: -20px;
}
.but{
    height: 30px;
    width: 298px;
    border-radius: 5px;
    background-color: rgba(25, 105, 243, 0.951);
    border: none;
}
input:hover{
    transform: scale(1.05);
    transition: 0.2s;
}