<<<<<<< HEAD
.sig{
    border-style: solid;
    border-width: 3px;
    border-color: aliceblue;
    margin-top: 0px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 100px;
    border-radius: 10px; 
    height: 100vh;
    width:30vw;
    background-image: url('../Images/bac.jpg');
    background-size: 1280px;
    box-shadow: 10px 10px 6px rgba(155, 151, 151, 0.674);
    
}
.white-text-input {
    color: white !important;
  }
  
.vi{
    background-color: rgba(255, 255, 255, 0.437);  
}
h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
=======
.sig{
    border-style: solid;
    border-width: 3px;
    border-color: aliceblue;
    margin-top: 0px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 100px;
    border-radius: 10px; 
    height: 100vh;
    width:30vw;
    background-image: url('../Images/bac.jpg');
    background-size: 1280px;
    box-shadow: 10px 10px 6px rgba(155, 151, 151, 0.674);
    
}
.white-text-input {
    color: white !important;
  }
  
.vi{
    background-color: rgba(255, 255, 255, 0.437);  
}
h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
>>>>>>> 3d42d72 (updated)
}