a
{
    text-decoration: none;
    color: rgb(246, 241, 241);
    
}
li
{
    padding-top: 4.6px;
}
.sudha:hover{
    background: linear-gradient(rgba(2, 42, 76, 0.558),rgba(10, 216, 219, 0.525));
    background-color: 'transparent';
}