footer {
  
    background-color: #333;
    color: #fff;
    padding: 20px ;
  }
  
  .footer-content {

    display: flex;
    
    
    color: white;
  }
  
  .footer-section {
    width: 30vw;
    margin-bottom: 20px;
    margin-left: 2%;
  }
  .footer-section1 {
    
    margin-bottom: 20px;
    padding-left: 3%;
  }
  .footer-section2 {
    width: 5vw;
    margin-bottom: 20px;
    padding-left: 3%;
    
  }
  .footer-section3 {
    
    width: 15vw;
    margin-bottom: 20px;
    padding-left: 5%;
    
  }
  .footer-section3 a {
    padding-left: 5%;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-bottom p {
    margin: 0px;;
  } 
  /* Add these styles to your Footer.css file */

.social-icons {
    display: flex;
    gap: 20px; /* Adjust the gap between social icons */
    margin-top: 30px; /* Adjust the margin at the top of the social icons */
    margin-left: 0px; /* Adjust the margin at the top of the social icons */
  }
  
  .social-icons a {
    display: inline-block;
  }
  
  .social-icons img {
    width: 40px; /* Adjust the width of the social icons */
    height: 40px; /* Adjust the height of the social icons */
    border-radius: 20%; /* Optional: Add border-radius for rounded icons */
  }
  